In [1]:
a = 10

In [2]:
if a < 15 :
    print("Condition fulfilled.")

Condition fulfilled.

In [3]:
if a < 15 :
    pass # Valid, but it won't do anything - dead code

In [4]:
if a < 15 :
    
    print("Condition fulfilled.")

Condition fulfilled.

In [9]:
if a > 15 :
    print("Condition fulfilled.")
elif a < 15 :
    print("Condition not fulfilled.")
else :
    print("Try something different.")

Condition not fulfilled.

In [10]:
income = int(input())
if income < 1500 :
    print("Option: Bike")
elif income < 2500 :
    print("Option: Car")
elif income < 4500 :
    print("Option: Luxury Car")
else :
    print("Plan Bigger..")

2322
Option: Car

In [16]:
# A discount example
Total_Price = int(input())
if Total_Price > 20000 :
    discount = Total_Price * .20
    print("Discount will be ", discount)
elif Total_Price >= 7000 :
    discount = Total_Price * .05
    print("Discount will be ", discount)
else :
    print("No Discount offered.")

7500
Discount will be  375.0

In [22]:
price = 1000
coupon = str(input())
if(coupon.upper() == "MANU05") :
    print("Discount offered 5%")
    price = price - price * .05
elif(coupon.upper() == "BIG10") :
    print("Discount offered 10%")
    price = price - price * .10
else :
    print("Coupon code doesn't exist.")
    
print("Final Price offered ", price);

manu05
Discount offered 5%
Final Price offered  950.0

In [31]:
daily_study_hour = float(input())
if(daily_study_hour < 2) :
    print("Time for Profeciency in Data Science is 8-9 months.")
elif(daily_study_hour < 4 and daily_study_hour > 2) :  # '&' will not work. We need to use 'and'
    print("Time for Profeciency in Data Science is 5-6 months.")
elif(daily_study_hour < 8 and daily_study_hour > 4) :
    print("Time for Profeciency in Data Science is 2-3 months.")
else :
    print("It'll be difficult.")

4.5
Time for Profeciency in Data Science is 2-3 months.

# if with tuple

In [32]:
tup1 = ('a', 'b', 'c')

In [33]:
if 'z' in tup1 :
    print("Value z is present in tup1")
else:
    print("Value z is not present in tup1")

Value z is not present in tup1

# if with list

In [36]:
lst = ['a', 'b', 'c']

In [37]:
if lst[1] == 'b' :
    lst[1] = 'z'

In [38]:
lst

['a', 'z', 'c']

# if with dict

In [39]:
dct = {'key1' : 10, 'key2' : 20, 'key3' : 30}

In [40]:
if dct['key2'] == 20 :
    dct['key2'] = dct['key2'] + 100

In [41]:
dct

{'key1': 10, 'key2': 120, 'key3': 30}

# While loop

In [43]:
i = 1
while i <= 10 :
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [44]:
i = 1
n = int(input())
while i <= 10 :
    print(n," * ", i, " = ", n*i)
    i += 1

2
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
2  *  10  =  20

In [45]:
# While with list

In [48]:
# add 100 to each list element
lst = [1,2,3,4,5]
i = 0
while i < len(lst) :
    lst[i] = lst[i] + 100
    i += 1
    
lst

[101, 102, 103, 104, 105]

# For loop

In [49]:
lst = ['apple','mango','grapes','orange','pear']
for i in lst :
    print(i)

apple
mango
grapes
orange
pear

In [52]:
# nested for loop
lst1 = ['blue','orange','white']
lst2 = ['chair', 'book', 'laptop']

for i in lst1 :
    for j in lst2 :
        print(i, j)

blue chair
blue book
blue laptop
orange chair
orange book
orange laptop
white chair
white book
white laptop

# Functions

In [53]:
# Function is a block of code which performs a specific task. A task may or may not involve multiple steps/actions.

def hello() :
    print("Hello World!!")

In [54]:
hello()

Hello World!!

In [55]:
def add_10(x) :
    return x + 10

In [57]:
add_10(9)

19

In [58]:
def odd_even(x) :
    if x%2 == 0 :
        print(x, " is even")
    else :
        print(x, " is odd")

In [59]:
odd_even(13)

13  is odd

In [60]:
# lambda function OR anonymous function || a one liner function

g = lambda x: x * x
g(10)

100

In [61]:
# lambda with filter

In [74]:
ls1 = [12,23,345,45,56,56,57,67,34,45,56,79]

In [79]:

# filter(lambda x: (x%2 != 0), lst) -- It's filtering all odd values in list lst -- x is parameter in lambda function
odd_list = list(filter(lambda x: (x%2!=0), ls1)) # Store the filtered list in another list

In [80]:
odd_list

[23, 345, 45, 57, 67, 45, 79]

In [81]:
# lambda with map

In [82]:
lst = [1,2,3,4,5,6,7,8]

In [84]:
# Task - multiply each element by 2
new_lst = list(map(lambda x: x*2, lst))
new_lst

[2, 4, 6, 8, 10, 12, 14, 16]

In [85]:
from functools import reduce

In [89]:
sum = reduce(lambda x,y: x+y, lst)

In [90]:
sum

36