In [1]:
import pandas as pd

In [10]:
df = pd.DataFrame({
    'col1' : [1,2,3,4,5],
    'col2' : [10,20,30,40,50],
    'col3' : "one two three four five".split()
})

In [11]:
# Create col4 with square of col1 values
df

   col1  col2   col3
0     1    10    one
1     2    20    two
2     3    30  three
3     4    40   four
4     5    50   five

In [12]:
df['col4'] = df['col1']**2

In [13]:
df

   col1  col2   col3  col4
0     1    10    one     1
1     2    20    two     4
2     3    30  three     9
3     4    40   four    16
4     5    50   five    25

In [14]:
df['col5'] = df['col3'].str[0]
df

   col1  col2   col3  col4 col5
0     1    10    one     1    o
1     2    20    two     4    t
2     3    30  three     9    t
3     4    40   four    16    f
4     5    50   five    25    f

In [17]:
def sqrFunc(a) :
    return a**2

In [19]:
df['col4_4'] = df['col1'].apply(sqrFunc)
df

   col1  col2   col3  col4 col5  col4_4
0     1    10    one     1    o       1
1     2    20    two     4    t       4
2     3    30  three     9    t       9
3     4    40   four    16    f      16
4     5    50   five    25    f      25

In [20]:
def condFunc(a) :
    if a == 't' :
        return 't'
    else :
        return 'z'

In [21]:
df['col6'] = df['col5'].apply(condFunc)
df

   col1  col2   col3  col4 col5  col4_4 col6
0     1    10    one     1    o       1    z
1     2    20    two     4    t       4    t
2     3    30  three     9    t       9    t
3     4    40   four    16    f      16    z
4     5    50   five    25    f      25    z

In [22]:
# Try with lambda function
df['col6_6'] = df['col5'].apply(lambda a : 't' if a == 't' else 'z')
df

   col1  col2   col3  col4 col5  col4_4 col6 col6_6
0     1    10    one     1    o       1    z      z
1     2    20    two     4    t       4    t      t
2     3    30  three     9    t       9    t      t
3     4    40   four    16    f      16    z      z
4     5    50   five    25    f      25    z      z

In [23]:
# Create col7 to hold length of string in col3
df['col7'] = df['col3'].apply(len)
df

   col1  col2   col3  col4 col5  col4_4 col6 col6_6  col7
0     1    10    one     1    o       1    z      z     3
1     2    20    two     4    t       4    t      t     3
2     3    30  three     9    t       9    t      t     5
3     4    40   four    16    f      16    z      z     4
4     5    50   five    25    f      25    z      z     4

In [28]:
import math
df['col8'] = df['col2'].apply(math.log)
df

   col1  col2   col3  col4 col5  col4_4 col6 col6_6  col7      col8
0     1    10    one     1    o       1    z      z     3  2.302585
1     2    20    two     4    t       4    t      t     3  2.995732
2     3    30  three     9    t       9    t      t     5  3.401197
3     4    40   four    16    f      16    z      z     4  3.688879
4     5    50   five    25    f      25    z      z     4  3.912023

In [29]:
import numpy as np

In [32]:
l = ["manu", 1,2,3,4]
type(l)

list

In [33]:
np.array(l)

array(['manu', '1', '2', '3', '4'], dtype='<U11')

In [34]:
type(np.array(l)) # Result : ndarray - n-dimentional array

numpy.ndarray

In [41]:
a1 =np.array([3,4,5,6,4.5]) # because of 1 float value, in result all values were up-casted to float
a1

array([3. , 4. , 5. , 6. , 4.5])

In [37]:
a = np.array([[1,2], [3,4]])
a

array([[1, 2],
       [3, 4]])

In [38]:
# How to get value 4 from above
a[1,1]

4

In [39]:
a[1][1]

4

In [42]:
a1

array([3. , 4. , 5. , 6. , 4.5])

In [43]:
np.array([1,2,3,4], ndmin = 0)

array([1, 2, 3, 4])

In [44]:
np.array([1,2,3,4], ndmin = 1)

array([1, 2, 3, 4])

In [45]:
np.array([1,2,3,4], ndmin = 4)

array([[[[1, 2, 3, 4]]]])

In [46]:
a2 = np.array([1,2,3,4], ndmin = 4)

In [47]:
a2[0]

array([[[1, 2, 3, 4]]])

In [48]:
a2[0][0]

array([[1, 2, 3, 4]])

In [49]:
a2[0][0][0]

array([1, 2, 3, 4])

In [50]:
a2[0][0][0][0]

1

In [ ]:
a = [1, 2, 3, 4, 5]

In [56]:
np.asarray(a)

array([[1, 2],
       [3, 4]])

In [57]:
np.asanyarray(a)

array([[1, 2],
       [3, 4]])

In [54]:
np.mat([1,2,3,4,5]) # matrix

matrix([[1, 2, 3, 4, 5]])

In [58]:
np.asanyarray(np.mat(a))

matrix([[1, 2],
        [3, 4]])

In [59]:
# Matrix is subclass of array

In [60]:
np.fromfunction(lambda i,j : i==j , (3,3))

array([[ True, False, False],
       [False,  True, False],
       [False, False,  True]])

In [61]:
    np.fromfunction(lambda i, j : i*j , (4,4))

array([[0., 0., 0., 0.],
       [0., 1., 2., 3.],
       [0., 2., 4., 6.],
       [0., 3., 6., 9.]])

In [62]:
 np.fromfunction(lambda i, j, k : i*j*k , (3,3,2))

array([[[0., 0.],
        [0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 1.],
        [0., 2.]],

       [[0., 0.],
        [0., 2.],
        [0., 4.]]])

In [65]:
 np.fromfunction(lambda i, j, k, l : i*j*k*l , (4,3,2,2), dtype = int)

array([[[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 0]]],


       [[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 1]],

        [[0, 0],
         [0, 2]]],


       [[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 2]],

        [[0, 0],
         [0, 4]]],


       [[[0, 0],
         [0, 0]],

        [[0, 0],
         [0, 3]],

        [[0, 0],
         [0, 6]]]])

In [67]:
a = np.fromfunction(lambda i, j, k : i*j*k , (4,3,2), dtype = int)
a

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 1],
        [0, 2]],

       [[0, 0],
        [0, 2],
        [0, 4]],

       [[0, 0],
        [0, 3],
        [0, 6]]])

In [68]:
a.ndim # How many dimention

3

In [69]:
a.size # How many elements

24

In [70]:
a.shape

(4, 3, 2)

In [71]:
a.dtype

dtype('int32')

In [72]:
df = pd.DataFrame(a) # a is 3d while DataFrame takes only 2d
# So convert it to 2d using reshape()

ValueError: Must pass 2-d input. shape=(4, 3, 2)

In [81]:
a.reshape(5,5)

ValueError: cannot reshape array of size 24 into shape (5,5)

In [82]:
a.reshape(12,2) # so we can reshape 4,3,2 to 12,2 OR 6,4 OR any combination with 24

array([[0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 1],
       [0, 2],
       [0, 0],
       [0, 2],
       [0, 4],
       [0, 0],
       [0, 3],
       [0, 6]])

In [84]:
df = pd.DataFrame(a.reshape(8,3))
df

   0  1  2
0  0  0  0
1  0  0  0
2  0  0  0
3  1  0  2
4  0  0  0
5  2  0  4
6  0  0  0
7  3  0  6

In [85]:
a.reshape(4,2,1,3) # Can be used to convert data into any shape/dimention

array([[[[0, 0, 0]],

        [[0, 0, 0]]],


       [[[0, 0, 0]],

        [[1, 0, 2]]],


       [[[0, 0, 0]],

        [[2, 0, 4]]],


       [[[0, 0, 0]],

        [[3, 0, 6]]]])

In [86]:
a.reshape(4,-1) # -1 means, it will autofill -1 with the other required dimension to make it 24 here.i.e. 4 rows and 6 cols

array([[0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 2],
       [0, 0, 0, 2, 0, 4],
       [0, 0, 0, 3, 0, 6]])

In [87]:
a.reshape(2,4,-234) # -1 is not necessary. Any negative number works

array([[[0, 0, 0],
        [0, 0, 0],
        [0, 0, 0],
        [1, 0, 2]],

       [[0, 0, 0],
        [2, 0, 4],
        [0, 0, 0],
        [3, 0, 6]]])

In [73]:
np.random.rand(100, 4) # Random values in a shape, here 100 rows - 4 cols

array([[0.89705292, 0.62024061, 0.40676071, 0.36285064],
       [0.47296415, 0.92740862, 0.60718514, 0.9078175 ],
       [0.70382918, 0.52283878, 0.64810409, 0.55927116],
       [0.56571633, 0.18173956, 0.58567437, 0.20270432],
       [0.00984536, 0.12796762, 0.72676714, 0.0625221 ],
       [0.32798115, 0.14078368, 0.35115309, 0.78459666],
       [0.29771216, 0.3521595 , 0.03458126, 0.31237947],
       [0.49967761, 0.64289394, 0.66903055, 0.48072918],
       [0.07018691, 0.29330301, 0.35691776, 0.84499554],
       [0.25916088, 0.09802354, 0.97666324, 0.88310055],
       [0.20310918, 0.50519522, 0.41841908, 0.62305214],
       [0.46403607, 0.66458348, 0.12771045, 0.63469662],
       [0.7501271 , 0.89003133, 0.04582812, 0.78219416],
       [0.48231691, 0.80849195, 0.62964069, 0.89251707],
       [0.0105562 , 0.92405835, 0.07118262, 0.20394428],
       [0.90428527, 0.88377637, 0.18405716, 0.88244671],
       [0.61348963, 0.56645738, 0.18753087, 0.87763326],
       [0.87744976, 0.34670399, 0.22207776, 0.68591156],
       [0.28328856, 0.66838019, 0.16596853, 0.85946713],
       [0.36497067, 0.3092607 , 0.58174421, 0.5352058 ],
       [0.51945455, 0.39404863, 0.10771024, 0.31510488],
       [0.42597873, 0.59692034, 0.13036106, 0.54991163],
       [0.09671031, 0.63735588, 0.54673374, 0.04481308],
       [0.65528503, 0.87905697, 0.11925088, 0.62013411],
       [0.9455236 , 0.73800083, 0.02282608, 0.39361366],
       [0.72097629, 0.10919209, 0.96225838, 0.13004422],
       [0.69745006, 0.09287276, 0.30885288, 0.2996568 ],
       [0.2327106 , 0.75613399, 0.2136406 , 0.61573199],
       [0.33621418, 0.69402896, 0.01366911, 0.74204463],
       [0.30778493, 0.82761043, 0.55943516, 0.22710885],
       [0.28076813, 0.25561958, 0.98975651, 0.23146672],
       [0.07224957, 0.90761771, 0.83667072, 0.04155594],
       [0.66841072, 0.78441061, 0.56341109, 0.29818366],
       [0.49959427, 0.51250728, 0.27194834, 0.92681649],
       [0.66752264, 0.97045697, 0.97950423, 0.84650159],
       [0.21748476, 0.30599613, 0.79699026, 0.85590517],
       [0.49000619, 0.8648249 , 0.56208877, 0.6037355 ],
       [0.66640436, 0.92265484, 0.17802562, 0.58523399],
       [0.03534953, 0.44370483, 0.53811802, 0.15519268],
       [0.06828493, 0.74062003, 0.90502559, 0.01894849],
       [0.93717141, 0.29190526, 0.8261208 , 0.05847908],
       [0.67927347, 0.78032672, 0.90668665, 0.50549739],
       [0.52862156, 0.03658403, 0.27672053, 0.65362491],
       [0.47858164, 0.61868552, 0.38056314, 0.32047202],
       [0.1450017 , 0.30482859, 0.89312996, 0.64862702],
       [0.37257712, 0.99128162, 0.50006195, 0.92437438],
       [0.71101631, 0.63927606, 0.09333777, 0.22492638],
       [0.53718577, 0.55710635, 0.30279953, 0.87549866],
       [0.04006753, 0.97167981, 0.07101766, 0.69638564],
       [0.24025979, 0.67359775, 0.022404  , 0.57835948],
       [0.22084328, 0.35709972, 0.42949135, 0.45127192],
       [0.6065203 , 0.40572961, 0.46156962, 0.93292977],
       [0.9415364 , 0.72838955, 0.93120616, 0.09260682],
       [0.02194701, 0.05908965, 0.47957926, 0.2500672 ],
       [0.66645437, 0.06947578, 0.34679182, 0.08264614],
       [0.67396087, 0.26153887, 0.58452612, 0.56787381],
       [0.08473915, 0.13033886, 0.97187743, 0.23412849],
       [0.52621668, 0.18994371, 0.62711711, 0.80981302],
       [0.64024159, 0.4537206 , 0.22132998, 0.71166694],
       [0.46783738, 0.18673511, 0.03918664, 0.69932115],
       [0.26935762, 0.31909606, 0.90633372, 0.76726657],
       [0.59317465, 0.34516581, 0.42967413, 0.21613506],
       [0.0521411 , 0.99105481, 0.51642622, 0.22050709],
       [0.8920921 , 0.42214406, 0.45795036, 0.64136711],
       [0.80596652, 0.21669006, 0.18468996, 0.24075518],
       [0.85960973, 0.79088653, 0.03504639, 0.78351247],
       [0.14562692, 0.79617763, 0.34810829, 0.81255728],
       [0.671835  , 0.59154261, 0.93488666, 0.56953275],
       [0.1358292 , 0.75412671, 0.91269762, 0.32271661],
       [0.00736421, 0.99609346, 0.3126542 , 0.94162175],
       [0.14724296, 0.16035202, 0.3069526 , 0.70102256],
       [0.87067419, 0.39678463, 0.27593404, 0.99924913],
       [0.84396775, 0.91337539, 0.22367565, 0.14656251],
       [0.51070388, 0.08972376, 0.76539622, 0.71497544],
       [0.5379616 , 0.34577114, 0.58982848, 0.92052759],
       [0.5231575 , 0.96663555, 0.32773066, 0.65194419],
       [0.80344278, 0.99691221, 0.35638037, 0.7966879 ],
       [0.99494696, 0.9760122 , 0.06833508, 0.54999616],
       [0.19028322, 0.96685254, 0.44026232, 0.5324281 ],
       [0.44750742, 0.34762289, 0.03515038, 0.01716829],
       [0.3725303 , 0.95873001, 0.4268899 , 0.17330042],
       [0.88486544, 0.02686881, 0.83679155, 0.21619492],
       [0.8295078 , 0.94927083, 0.95302442, 0.4151392 ],
       [0.79168321, 0.08463405, 0.59580083, 0.27960921],
       [0.31172643, 0.66871651, 0.53881425, 0.84421378],
       [0.49804965, 0.19224749, 0.88995016, 0.79043476],
       [0.80796111, 0.27975898, 0.9443554 , 0.42859268],
       [0.13235574, 0.3217419 , 0.27109255, 0.41090806],
       [0.45477847, 0.74048378, 0.60477556, 0.76744938],
       [0.66221416, 0.34330185, 0.76490105, 0.80508384],
       [0.86969757, 0.24551795, 0.52921874, 0.84153291],
       [0.07747499, 0.86898477, 0.29168288, 0.16005795],
       [0.31985187, 0.89289379, 0.194815  , 0.43515505],
       [0.50259458, 0.66553841, 0.20375051, 0.94371148],
       [0.48823282, 0.10819509, 0.874928  , 0.09554978],
       [0.27838172, 0.15073435, 0.59702322, 0.07338586],
       [0.54858246, 0.53831323, 0.48594121, 0.50719005],
       [0.46212656, 0.49866291, 0.39417329, 0.49812467],
       [0.23056906, 0.69176124, 0.84246277, 0.82884546],
       [0.99905761, 0.33839929, 0.00706501, 0.16191846]])

In [78]:
np.random.randint(4,50) # Any random number between given values

46

In [79]:
np.random.randn(4,5) # Try to generate a normal distribution

array([[ 1.12553864, -1.6067936 , -1.05780746, -0.21534789,  1.92948454],
       [-0.30788803,  1.11884744, -0.57579674, -0.08972666, -0.9585845 ],
       [ 0.90642471,  1.24086497,  1.13949399,  0.80333049,  0.92708106],
       [-0.91136432,  0.08676234,  0.03189343, -0.57759184, -1.14375884]])

In [80]:
df = pd.DataFrame(np.random.randn(4,5))
df

          0         1         2         3         4
0 -0.508504 -0.654543 -0.370475 -0.840666  0.010260
1  1.293553  0.334667  2.014345  0.395709 -0.911687
2  0.970293  0.199466  1.287555  0.184987  1.952875
3  1.964513 -1.181157  1.493117  2.113215  0.295245

In [88]:
list(range(4,10))

[4, 5, 6, 7, 8, 9]

In [91]:
list(range(4,10,2))

[4, 6, 8]

In [92]:
# Lets see equivalent to range in numpy
np.arange(4,10,2)

array([4, 6, 8])

In [93]:
np.arange(4,10,0.2)

array([4. , 4.2, 4.4, 4.6, 4.8, 5. , 5.2, 5.4, 5.6, 5.8, 6. , 6.2, 6.4,
       6.6, 6.8, 7. , 7.2, 7.4, 7.6, 7.8, 8. , 8.2, 8.4, 8.6, 8.8, 9. ,
       9.2, 9.4, 9.6, 9.8])

In [95]:
a1 = np.arange(4,10.5,0.2)
a1

array([ 4. ,  4.2,  4.4,  4.6,  4.8,  5. ,  5.2,  5.4,  5.6,  5.8,  6. ,
        6.2,  6.4,  6.6,  6.8,  7. ,  7.2,  7.4,  7.6,  7.8,  8. ,  8.2,
        8.4,  8.6,  8.8,  9. ,  9.2,  9.4,  9.6,  9.8, 10. , 10.2, 10.4])

In [96]:
a1[1:4] # Slicing operation

array([4.2, 4.4, 4.6])

In [98]:
arr = np.random.rand(4,5)
arr

array([[0.10949358, 0.3032467 , 0.60707333, 0.76126216, 0.98288107],
       [0.58825947, 0.82060377, 0.18790166, 0.99856946, 0.94304405],
       [0.10309476, 0.14623233, 0.78153535, 0.84899119, 0.88708902],
       [0.97396873, 0.9413501 , 0.73122318, 0.21703982, 0.51334615]])

In [99]:
# Extract all data greater than 0.5
arr > 0.5

array([[False, False,  True,  True,  True],
       [ True,  True, False,  True,  True],
       [False, False,  True,  True,  True],
       [ True,  True,  True, False,  True]])

In [100]:
arr[arr > 0.5]

array([0.60707333, 0.76126216, 0.98288107, 0.58825947, 0.82060377,
       0.99856946, 0.94304405, 0.78153535, 0.84899119, 0.88708902,
       0.97396873, 0.9413501 , 0.73122318, 0.51334615])

In [101]:
arr

array([[0.10949358, 0.3032467 , 0.60707333, 0.76126216, 0.98288107],
       [0.58825947, 0.82060377, 0.18790166, 0.99856946, 0.94304405],
       [0.10309476, 0.14623233, 0.78153535, 0.84899119, 0.88708902],
       [0.97396873, 0.9413501 , 0.73122318, 0.21703982, 0.51334615]])

In [103]:
# Fetch items at indexes 2-1 and 2-2
arr[[1,2], [2]]

array([0.18790166, 0.78153535])

In [104]:
arr = np.random.rand(8,5)
arr

array([[0.96990453, 0.71758381, 0.80322175, 0.30305611, 0.51841881],
       [0.1450336 , 0.76218086, 0.52063883, 0.39079459, 0.23933716],
       [0.42826267, 0.8966376 , 0.9903408 , 0.29897421, 0.0484414 ],
       [0.91566875, 0.07094679, 0.4045683 , 0.52432886, 0.1210663 ],
       [0.06168584, 0.36379218, 0.53264813, 0.41753052, 0.18423503],
       [0.10381748, 0.65751195, 0.32152124, 0.3847981 , 0.86882597],
       [0.26881997, 0.4909165 , 0.86554421, 0.35695957, 0.99935114],
       [0.5293916 , 0.32962254, 0.10316598, 0.66777989, 0.86029364]])

In [106]:
arr[1:8,0:3]

array([[0.1450336 , 0.76218086, 0.52063883],
       [0.42826267, 0.8966376 , 0.9903408 ],
       [0.91566875, 0.07094679, 0.4045683 ],
       [0.06168584, 0.36379218, 0.53264813],
       [0.10381748, 0.65751195, 0.32152124],
       [0.26881997, 0.4909165 , 0.86554421],
       [0.5293916 , 0.32962254, 0.10316598]])

In [108]:
a2 = arr[1:8,[0,1,2]]
a2

array([[0.1450336 , 0.76218086, 0.52063883],
       [0.42826267, 0.8966376 , 0.9903408 ],
       [0.91566875, 0.07094679, 0.4045683 ],
       [0.06168584, 0.36379218, 0.53264813],
       [0.10381748, 0.65751195, 0.32152124],
       [0.26881997, 0.4909165 , 0.86554421],
       [0.5293916 , 0.32962254, 0.10316598]])

In [111]:
a2[0][0] = 10
a2

array([[10.        ,  0.76218086,  0.52063883],
       [ 0.42826267,  0.8966376 ,  0.9903408 ],
       [ 0.91566875,  0.07094679,  0.4045683 ],
       [ 0.06168584,  0.36379218,  0.53264813],
       [ 0.10381748,  0.65751195,  0.32152124],
       [ 0.26881997,  0.4909165 ,  0.86554421],
       [ 0.5293916 ,  0.32962254,  0.10316598]])

In [112]:
a = np.array([[1,2],[3,4]])
b = np.array([[2,3],[4,5]])

In [113]:
a

array([[1, 2],
       [3, 4]])

In [114]:
b

array([[2, 3],
       [4, 5]])

In [115]:
# Element wise multiplication
a*b

array([[ 2,  6],
       [12, 20]])

In [119]:
# Matrix Multiplication
# Rule 1 - First's column should be equal to others row count
m = a@b # @ is for matrix multiplication
m

array([[10, 13],
       [22, 29]])

In [120]:
m/0 # Look at result carefully. Resultant array is with inf values. inf - infinity

C:\Users\Manu\AppData\Local\Temp/ipykernel_22704/3791875896.py:1: RuntimeWarning: divide by zero encountered in true_divide
  m/0

array([[inf, inf],
       [inf, inf]])