In [ ]:
# Pandas - stands for Panel Data - core library for Data Manipulation and Data Analysis

In [ ]:
# Pandas provides us single-dimensional and multi-dimensional data structures for data manipulation

In [ ]:
# Data Structures: single-dimensional > Series object || multi-dimensional > data-frame

In [5]:
import pandas as pd
s1 = pd.Series([1,2,3,4,5])
s1 # Prints index - value

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [2]:
type(s1)

pandas.core.series.Series

In [5]:
# Changing index
s1 = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [6]:
# Series object from Dictionary
s1 = pd.Series({'a':10,'b':20,'c':30})
s1

a    10
b    20
c    30
dtype: int64

In [7]:
s1 = pd.Series({'a':10,'b':20,'c':30}, index=['b','c','d','a'])
s1

b    20.0
c    30.0
d     NaN
a    10.0
dtype: float64

In [9]:
# Extracting individual items from a series object
s1 = pd.Series([1,2,3,4,5,6,7,8,9])

# Extracting a single element
s1[3]

4

In [12]:
# Extracting elements from the back
s1[-2:]

7    8
8    9
dtype: int64

In [13]:
s1[-1:]

8    9
dtype: int64

In [14]:
# Extracting a sequence of elements
s1[:4]

0    1
1    2
2    3
3    4
dtype: int64

In [15]:
# Extracting a sequence of elements with negating effect
s1[:-2]

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [16]:
# Basic Math Operations on Series

s1 + 5 # Can perform any operations like + - * /

0     6
1     7
2     8
3     9
4    10
5    11
6    12
7    13
8    14
dtype: int64

In [17]:
s1 = pd.Series([1,2,3,4,5,6,7,8,9])
s2 = pd.Series([10,20,30,40,50,60,70,80,90])
s1 + s2

0    11
1    22
2    33
3    44
4    55
5    66
6    77
7    88
8    99
dtype: int64

In [20]:
s3 = pd.Series([1,2,3,4])

s2+s3

0    11.0
1    22.0
2    33.0
3    44.0
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
dtype: float64

In [22]:
# Pandas Dataframe - a 2-dimensional labelled data structure
# a Dataframe comprises of rows and columns

df = pd.DataFrame({'Name':['Adi','Bob','Sam'],'Marks':[48,68,83]})
df

  Name  Marks
0  Adi     48
1  Bob     68
2  Sam     83

In [18]:
# DataFrame in-built functions
# head(), tail(), shape(), describe()

# Load a dataset
# iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")
iris = pd.read_csv("iris.data")

In [19]:
iris.head() # read first five records

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [20]:
iris.tail() # read last five records

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width         Species
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

In [22]:
iris.shape # returns number of rows and columns

(150, 5)

In [24]:
iris.describe() # returns info about data

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [25]:
# .iloc[row:range, col:range] it works with indexes
iris.iloc[5:10, 2:4]

   Petal.Length  Petal.Width
5           1.7          0.4
6           1.4          0.3
7           1.5          0.2
8           1.4          0.2
9           1.5          0.1

In [26]:
iris.iloc[5:12, 2:]

    Petal.Length  Petal.Width      Species
5            1.7          0.4  Iris-setosa
6            1.4          0.3  Iris-setosa
7            1.5          0.2  Iris-setosa
8            1.4          0.2  Iris-setosa
9            1.5          0.1  Iris-setosa
10           1.5          0.2  Iris-setosa
11           1.6          0.2  Iris-setosa

In [27]:
 # iris.loc[] # Works with column names
iris.loc[0:3,("Petal.Length","Petal.Width")] # Unlike iloc, it includes last index specified

   Petal.Length  Petal.Width
0           1.4          0.2
1           1.4          0.2
2           1.3          0.2
3           1.5          0.2

In [28]:
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [29]:
iris.drop("Petal.Width", axis=1)

     Sepal.Length  Sepal.Width  Petal.Length         Species
0             5.1          3.5           1.4     Iris-setosa
1             4.9          3.0           1.4     Iris-setosa
2             4.7          3.2           1.3     Iris-setosa
3             4.6          3.1           1.5     Iris-setosa
4             5.0          3.6           1.4     Iris-setosa
..            ...          ...           ...             ...
145           6.7          3.0           5.2  Iris-virginica
146           6.3          2.5           5.0  Iris-virginica
147           6.5          3.0           5.2  Iris-virginica
148           6.2          3.4           5.4  Iris-virginica
149           5.9          3.0           5.1  Iris-virginica

[150 rows x 4 columns]

In [30]:
iris.drop(["Sepal.Length","Petal.Length"], axis=1)

     Sepal.Width  Petal.Width         Species
0            3.5          0.2     Iris-setosa
1            3.0          0.2     Iris-setosa
2            3.2          0.2     Iris-setosa
3            3.1          0.2     Iris-setosa
4            3.6          0.2     Iris-setosa
..           ...          ...             ...
145          3.0          2.3  Iris-virginica
146          2.5          1.9  Iris-virginica
147          3.0          2.0  Iris-virginica
148          3.4          2.3  Iris-virginica
149          3.0          1.8  Iris-virginica

[150 rows x 3 columns]

In [31]:
iris.drop([1,2,3],axis=0)

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width         Species
0             5.1          3.5           1.4          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
5             5.4          3.9           1.7          0.4     Iris-setosa
6             4.6          3.4           1.4          0.3     Iris-setosa
7             5.0          3.4           1.5          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[147 rows x 5 columns]

In [32]:
# More Pandas Functions
iris.mean()

/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

Sepal.Length    5.843333
Sepal.Width     3.054000
Petal.Length    3.758667
Petal.Width     1.198667
dtype: float64

In [33]:
iris.median()

/srv/conda/envs/notebook/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Sepal.Length    5.80
Sepal.Width     3.00
Petal.Length    4.35
Petal.Width     1.30
dtype: float64

In [36]:
iris.min()

Sepal.Length            4.3
Sepal.Width             2.0
Petal.Length            1.0
Petal.Width             0.1
Species         Iris-setosa
dtype: object

In [37]:
iris.max()

Sepal.Length               7.9
Sepal.Width                4.4
Petal.Length               6.9
Petal.Width                2.5
Species         Iris-virginica
dtype: object

In [38]:
def half(s):
    return s * 0.5

In [42]:
iris[["Sepal.Length","Sepal.Width"]].apply(half)

     Sepal.Length  Sepal.Width
0            2.55         1.75
1            2.45         1.50
2            2.35         1.60
3            2.30         1.55
4            2.50         1.80
..            ...          ...
145          3.35         1.50
146          3.15         1.25
147          3.25         1.50
148          3.10         1.70
149          2.95         1.50

[150 rows x 2 columns]

In [43]:
iris['Species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [44]:
iris.sort_values(by='Sepal.Length')

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width         Species
13            4.3          3.0           1.1          0.1     Iris-setosa
42            4.4          3.2           1.3          0.2     Iris-setosa
38            4.4          3.0           1.3          0.2     Iris-setosa
8             4.4          2.9           1.4          0.2     Iris-setosa
41            4.5          2.3           1.3          0.3     Iris-setosa
..            ...          ...           ...          ...             ...
122           7.7          2.8           6.7          2.0  Iris-virginica
118           7.7          2.6           6.9          2.3  Iris-virginica
117           7.7          3.8           6.7          2.2  Iris-virginica
135           7.7          3.0           6.1          2.3  Iris-virginica
131           7.9          3.8           6.4          2.0  Iris-virginica

[150 rows x 5 columns]