In [3]:
import sqlite3 as sq

In [4]:
db = sq.connect("ineuron.db")

In [5]:
c = db.cursor()

In [4]:
c.execute('create table fsds(name text, batchid int, marks real)')

In [15]:
c.execute("insert into fsds values('Manu', 34535, 423.23)")
c.execute("insert into fsds values('Anu', 45667, 236.23),('Maanav', 12567, 548.05),('Priyanshi', 23354, 478.28)")

In [16]:
data = c.execute('select * from fsds')

In [17]:
for i in data:
    print(i)

('Manu', 34535, 423.23)
('Manu', 34535, 423.23)
('Anu', 45667, 236.23)
('Maanav', 12567, 548.05)
('Priyanshi', 23354, 478.28)

In [18]:
db.commit()
db.close()

In [19]:
db = sq.connect('ineuron.db')

In [21]:
c = db.cursor()

In [22]:
data = c.execute('select * from fsds where marks > 400')

In [23]:
for i in data:
    print(i)

('Manu', 34535, 423.23)
('Manu', 34535, 423.23)
('Maanav', 12567, 548.05)
('Priyanshi', 23354, 478.28)

In [24]:
data = c.execute('select name, marks from fsds order by marks')

In [25]:
for i in data:
    print(i)

('Anu', 236.23)
('Manu', 423.23)
('Manu', 423.23)
('Priyanshi', 478.28)
('Maanav', 548.05)

In [26]:
db.close()

In [27]:
db = sq.connect('joindb.db')

In [28]:
c = db.cursor()

In [29]:
c.execute('create table student(student_id int, student_name text, student_mailid text, marks int)')
c.execute('create table address(student_id int, postcode int, location text, nearby text, phone_no int)')

In [31]:
c.execute("insert into student values(234, 'Manu', 'manu@ineuron.ai', 234)")
c.execute("insert into student values(235, 'Manu', 'manu@ineuron.ai', 234)")
c.execute("insert into student values(236, 'Manu', 'manu@ineuron.ai', 234)")
c.execute("insert into student values(237, 'Manu', 'manu@ineuron.ai', 234)")
c.execute("insert into student values(238, 'Manu', 'manu@ineuron.ai', 234)")

In [37]:
c.execute("insert into address values(234, 2153, 'NSW', 'Hills Shire', 565765768)")
c.execute("insert into address values(234, 2153, 'NSW', 'Hills Shire', 565765768)")

In [38]:
data = c.execute('select * from student s left join address a on s.student_id=a.student_id where a.student_id is not null')

In [39]:
for i in data:
    print(i)

(234, 'Manu', 'manu@ineuron.ai', 234, 234, 2153, 'NSW', 'Hills Shire', 565765768)
(234, 'Manu', 'manu@ineuron.ai', 234, 234, 2153, 'NSW', 'Hills Shire', 565765768)
(234, 'Manu', 'manu@ineuron.ai', 234, 234, 2153, 'NSW', 'Hills Shire', 565765768)
(234, 'Manu', 'manu@ineuron.ai', 234, 234, 2153, 'NSW', 'Hills Shire', 565765768)
(234, 'Manu', 'manu@ineuron.ai', 234, 234, 2153, 'NSW', 'Hills Shire', 565765768)
(234, 'Manu', 'manu@ineuron.ai', 234, 234, 2153, 'NSW', 'Hills Shire', 565765768)
(234, 'Manu', 'manu@ineuron.ai', 234, 234, 2153, 'NSW', 'Hills Shire', 565765768)
(234, 'Manu', 'manu@ineuron.ai', 234, 234, 2153, 'NSW', 'Hills Shire', 565765768)
(234, 'Manu', 'manu@ineuron.ai', 234, 234, 2153, 'NSW', 'Hills Shire', 565765768)
(234, 'Manu', 'manu@ineuron.ai', 234, 234, 2153, 'NSW', 'Hills Shire', 565765768)

In [40]:
# 2nd half

In [41]:
l = [1,2,3,4,5]
l1 = []
for i in l:
    l1.append(i+5)

In [42]:
l1

[6, 7, 8, 9, 10]

In [43]:
[i+5 for i in l]

[6, 7, 8, 9, 10]

In [45]:
def test(a):
    return a + 5

In [44]:
# Map function

In [46]:
map(test, l)

In [47]:
list(map(test, l))

[6, 7, 8, 9, 10]

In [48]:
l1 = ['234', '345', '456', '567']

In [50]:
def test2(a):
    return int(a)

In [51]:
list(map(test2, l1))

[234, 345, 456, 567]

In [52]:
list(map(lambda a: a+5, l))

[6, 7, 8, 9, 10]

In [53]:
list(map(lambda a: int(a), l1))

[234, 345, 456, 567]

In [ ]:
# Filter function

In [54]:
l =[4,5,6,7,78,8,78]
list(filter(lambda a: a%2 == 0, l))

[4, 6, 78, 8, 78]

In [55]:
# Reduce Function
from functools import reduce

In [56]:
l = [3,4,5,6,7,8]

In [57]:
sum(l) # one way to do summation

33

In [62]:
reduce(lambda x, y: x+y, l)

33

In [63]:
# Zip

In [64]:
l = [1,2,3,4,5]
l1 = [4,5,6,7,8]
list(zip(l,l1))

[(1, 4), (2, 5), (3, 6), (4, 7), (5, 8)]

In [65]:
l2 = ['a','b','c','d','e']
list(zip(l,l1,l2))

[(1, 4, 'a'), (2, 5, 'b'), (3, 6, 'c'), (4, 7, 'd'), (5, 8, 'e')]

In [66]:
l3 = [1,2,3,4]
list(zip(l3,l1,l2))

[(1, 4, 'a'), (2, 5, 'b'), (3, 6, 'c'), (4, 7, 'd')]

In [ ]:
# Task for today:

Dataset: 
1. Try to find a count of each and every word in a respective file - return a list of tuple with word and it's respective count
Sample Ex: [('abc', 6), ('xyz', 3)]
    
2. Try to perform a reduce operation to get a count of all the word starting with same alphabet
Sample Ex: [('a', 56), ('b', 34), ........]
    
3. Try to filter out all the words from dataset
Ex: .001.abstract = abstract
    
4. Create a tuple set of all the records available in all the five files and then store it in sqlite db
Hint: Using zip operation

In [ ]:
"""Task for today :
  dataset -   https://archive.ics.uci.edu/ml/datasets/Bag+of+Words
    
    q1 = try to find out a count of each and every word in a respective file return a list of tuple with word and its respective count 
       sample example -  [('sudh', 6 ) , ('kumar',3)]
    q2 = try to perform a reduce operation to get a count of all the word starting with same alphabet
        sample examle = [(a,56) , (b,34),...........]
    q3 = Try to filter out all the words from dataset . 
    
    .001.abstract = abstract
    =.002 = delete
    q4 = create a tuple set of all the records avaialble in all the five file and then store it in sqllite DB . 
    (aah,>=,354,fdsf,wer)
    
    Top 10 will be able to get kids neuron """