In [ ]:
# https://cloud.mongodb.com/v2/62088e84c236c823a6f0d3f4#clusters/detail/Cluster0
# User/Pwd - gmail

In [13]:
import pymongo
#"mongodb+srv://USERNAME:PASSWORD@cluster0.2wjy8.mongodb.net/DATABASENAME
client = pymongo.MongoClient("mongodb+srv://mongodb:mongodb@cluster0.2wjy8.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client.test
print(db)

Database(MongoClient(host=['cluster0-shard-00-02.2wjy8.mongodb.net:27017', 'cluster0-shard-00-00.2wjy8.mongodb.net:27017', 'cluster0-shard-00-01.2wjy8.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-f9ce2x-shard-0', tls=True), 'test')

In [2]:
print(client.list_database_names())

['CustomerTransaction', 'sudh', 'admin', 'local']

In [3]:
client.list_database_names()

['CustomerTransaction', 'sudh', 'admin', 'local']

In [11]:
# MySQL                MongoDB
# DB                   DB
# Table                Collection
# Row/Record           Document

# Document has data in form of JSON file which has dictionaries in form of key/value pairs.

In [4]:
db2 = client['sudh'] # DB

In [5]:
coll1 = db2['ineuron_collection'] # Collection/Table Name

In [6]:
# In MongoDB, it's called document. In SQL, it's called record
dict1 = {
    "name" : "manu",
    "email_id" : "manu@email.com",
    "product" : ["one neuron", "tech neuron", "kids neuron", "drone fleetmatics"],
    "company" : "ineuron intelligence private limited"
}

In [7]:
coll1.insert_one(dict1)

In [8]:
# Added one extra column
dict2 = {
    "name" : "manu",
    "email_id" : "manu@email.com",
    "product" : ["one neuron", "tech neuron", "kids neuron", "drone fleetmatics"],
    "company" : "ineuron intelligence private limited",
    "phone_number" : "24324324324"
}

In [9]:
coll1.insert_one(dict2)

In [10]:
# We can insert own id
dict3 = {
    "_id" : "mycustomid",
    "name" : "manu",
    "email_id" : "manu@email.com",
    "product" : ["one neuron", "tech neuron", "kids neuron", "drone fleetmatics"],
    "company" : "ineuron intelligence private limited",
    "phone_number" : "24324324324"
}

In [12]:
for i in coll1.find():
    print(i)

{'_id': ObjectId('62089b9444c5f0703e606d74'), 'name': 'manu dhanda', 'email_id': 'manu@email.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited'}
{'_id': ObjectId('62089cb844c5f0703e606d75'), 'name': 'manu dhanda', 'email_id': 'manu@email.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_number': '24324324324'}
{'_id': 'mycustomid', 'name': 'manu dhanda', 'email_id': 'manu@email.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_number': '24324324324'}
{'_id': ObjectId('6208a03644c5f0703e606d76'), 'name': 'maanav', 'email_id': 'manu@email.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_number': '24324324324'}
{'_id': ObjectId('6208a03644c5f0703e606d77'), 'name': 'manu dhanda', 'email_id': 'manu@email.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_number': '24324324324'}
{'_id': ObjectId('6208a03644c5f0703e606d78'), 'name': 'anu', 'email_id': 'anu@email.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_number': '24324324324', 'email': 'anu@email.com'}
{'_id': ObjectId('6210809a5df439271c738b0a'), 'name': 'manu', 'email_id': 'manu@email.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited'}
{'_id': ObjectId('6210809e5df439271c738b0b'), 'name': 'manu', 'email_id': 'manu@email.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_number': '24324324324'}

In [27]:
for i in coll1.find({"name":"ma*"}): #({"name":"manu"}):
    print(i)

In [28]:
for i in coll1.find({"name":{"$in":["ma", "man", "manu"]}}):
    print(i)

{'_id': ObjectId('62089b9444c5f0703e606d74'), 'name': 'manu', 'email_id': 'manu@email.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited'}
{'_id': ObjectId('62089cb844c5f0703e606d75'), 'name': 'manu', 'email_id': 'manu@email.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_number': '24324324324'}
{'_id': 'mycustomid', 'name': 'manu', 'email_id': 'manu@email.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_number': '24324324324'}
{'_id': ObjectId('6208a03644c5f0703e606d76'), 'name': 'manu', 'email_id': 'manu@email.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_number': '24324324324'}
{'_id': ObjectId('6208a03644c5f0703e606d77'), 'name': 'manu', 'email_id': 'manu@email.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_number': '24324324324'}
{'_id': ObjectId('6208a03644c5f0703e606d78'), 'name': 'manu', 'email_id': 'manu@email.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_number': '24324324324'}

In [29]:
for i in coll1.find({"name":{"$in":["ma", "man", "manu"]}, 'email_id':"manu@email.com"}):
    print(i)

{'_id': ObjectId('62089b9444c5f0703e606d74'), 'name': 'manu', 'email_id': 'manu@email.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited'}
{'_id': ObjectId('62089cb844c5f0703e606d75'), 'name': 'manu', 'email_id': 'manu@email.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_number': '24324324324'}
{'_id': 'mycustomid', 'name': 'manu', 'email_id': 'manu@email.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_number': '24324324324'}
{'_id': ObjectId('6208a03644c5f0703e606d76'), 'name': 'manu', 'email_id': 'manu@email.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_number': '24324324324'}
{'_id': ObjectId('6208a03644c5f0703e606d77'), 'name': 'manu', 'email_id': 'manu@email.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_number': '24324324324'}
{'_id': ObjectId('6208a03644c5f0703e606d78'), 'name': 'manu', 'email_id': 'manu@email.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_number': '24324324324'}

In [30]:
coll1.find_one() # Give a random one record

{'_id': ObjectId('62089b9444c5f0703e606d74'),
 'name': 'manu',
 'email_id': 'manu@email.com',
 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'],
 'company': 'ineuron intelligence private limited'}

In [15]:
coll1.find_one({"name":"manu"})

{'_id': ObjectId('6210809a5df439271c738b0a'),
 'name': 'manu',
 'email_id': 'manu@email.com',
 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'],
 'company': 'ineuron intelligence private limited'}

In [31]:
for i in coll1.find({"qty":{'$gt' : '25'}}): #$gt - greater than  || $lt - less than  || $gte - greater than equal to
    print(i)

In [32]:
# Update operation
coll1.update_many({"name" : "manu"},{"$set":{"name": "manu dhanda"}})

for i in coll1.find():
    print(i)

{'_id': ObjectId('62089b9444c5f0703e606d74'), 'name': 'manu dhanda', 'email_id': 'manu@email.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited'}
{'_id': ObjectId('62089cb844c5f0703e606d75'), 'name': 'manu dhanda', 'email_id': 'manu@email.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_number': '24324324324'}
{'_id': 'mycustomid', 'name': 'manu dhanda', 'email_id': 'manu@email.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_number': '24324324324'}
{'_id': ObjectId('6208a03644c5f0703e606d76'), 'name': 'maanav', 'email_id': 'manu@email.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_number': '24324324324'}
{'_id': ObjectId('6208a03644c5f0703e606d77'), 'name': 'manu dhanda', 'email_id': 'manu@email.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_number': '24324324324'}
{'_id': ObjectId('6208a03644c5f0703e606d78'), 'name': 'anu', 'email_id': 'manu@email.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_number': '24324324324'}

In [33]:
for i in coll1.find().limit(2):
    print(i)

{'_id': ObjectId('62089b9444c5f0703e606d74'), 'name': 'manu dhanda', 'email_id': 'manu@email.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited'}
{'_id': ObjectId('62089cb844c5f0703e606d75'), 'name': 'manu dhanda', 'email_id': 'manu@email.com', 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'], 'company': 'ineuron intelligence private limited', 'phone_number': '24324324324'}

In [34]:
for i in coll1.find({"qty":{'not':{'$gt' : '25'}}}): # not greater than
    print(i)

In [36]:
# Update with where condition
coll1.find_one_and_update({"name" : "anu"},{"$set":{"email_id": "anu@email.com"}})

{'_id': ObjectId('6208a03644c5f0703e606d78'),
 'name': 'anu',
 'email_id': 'manu@email.com',
 'product': ['one neuron', 'tech neuron', 'kids neuron', 'drone fleetmatics'],
 'company': 'ineuron intelligence private limited',
 'phone_number': '24324324324',
 'email': 'anu@email.com'}

In [37]:
coll1.update_many({"name" : "manu"},{"$set":{"email_id": "manu@email.com.au"}})